*{
    padding: 0;
    margin: 0;
    font-family: century gothic;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #229abe;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: #c5ccce;
}


nav ul li {
    padding: 20px;
    width: 150px;
    display: inline;
    margin-right: 10px;
}

nav ul li a:hover {
    background-color: white;
    text-decoration: none;
    color: #333;
}


footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalEmergencias{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalEmergencias-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeEmergencias {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.closeEmergencias:hover,
.closeEmergencias:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalEmergencias-content h2{
    text-align: center;
}

/* Input
*/
#nombreUsuario{
    text-align: center;
    margin: 0 auto;
    display: block;
}

.modalEmergencias-content{
    text-align: center;
}

#nombreUsuario{
    display: inline-block;
}


/* Ingresar texto de la emergencia */
#textEmergencia{
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 600px;
    height: 80px;
    font-size: 16px;
    white-space: normal;
}


.modalCitas{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalCitas-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeCitas {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.closeCitas:hover,
.closeCitas:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para los modales */
.modalFechas,
.modalHorarios {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalFechas-content,
.modalHorarios-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.closeFechas,
.closeHorarios {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeFechas:hover,
.closeHorarios:hover,
.closeFechas:focus,
.closeHorarios:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el calendario */
#calendar {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  padding: 10px;
}

th {
  cursor: default;
  background-color: #f2f2f2;
}

td {
  cursor: pointer;
}

td:hover {
  background-color: #e6e6e6;
}

.selected {
  background-color: #3498db;
  color: #fff;
}

.hora {
  cursor: default;
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  padding: 5px; /* Añade un espacio alrededor de cada horario */
  margin-bottom: 10px; /* Añade espacio entre cada horario */
  border: 1px solid #ccc; /* Añade un borde alrededor de cada horario */
  border-radius: 5px; /* Agrega esquinas redondeadas al borde */
}
.fecha {
  cursor: default;
}

/* Estilos para el modal de confirmación de horario */
.modalHorarioConfirmacion {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalHorarioConfirmacion-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.closeHorarioConfirmacion {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeHorarioConfirmacion:hover,
.closeHorarioConfirmacion:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modalEsteticos {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalEsteticos-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeEsteticos {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeEsteticos:hover,
.closeEsteticos:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el modal de hotel */

.modalHotel {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalHotel-content {
    background-color: #C1FFFF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modalHotel-content p {
    color: #229abe;
}

.modalHotel h2 {
    color: #229abe;
}

.closeHotel {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeHotel:hover,
.closeHotel:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btnHabitacion {
    padding: 15px 30px;
    background-color: transparent;
    color: #229abe;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 17px;
}

.btnHabitacion:hover + .infoHabitacion,
.infoHabitacion:hover {
    display: block;
}

.infoHabitacion {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border: 2.7px solid #229abe;
    border-radius: 20px;
    overflow: hidden;
}

.imagenHabitacion {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 450px;
    float: right; /* Coloca la imagen a la derecha */
    margin-left: 20px; /* Añade un espacio entre la imagen y el texto */
}

.textoHabitacion {
    flex: 1;
}


/* Estilos para el modal de procedimientos veterinarios */

.modalProcedimientosVeterinarios {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalProcedimientosVeterinarios-content {
    background-color: #C1FFFF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modalProcedimientosVeterinarios-content p {
    color: #229abe;
}

.modalProcedimientosVeterinarios h2 {
    color: #229abe;
}

.closeProcedimientosVeterinarios {
    color: #229abe;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeProcedimientosVeterinarios:hover,
.closeProcedimientosVeterinarios:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.procedimientos-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espacio entre los elementos */
    gap: 20px;
}

.procedimiento-item {
    text-align: center;
    width: calc(25% - 20px); /* Ancho para mostrar 4 elementos por fila */
}

.procedimiento-item img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Borde redondeado para hacer un círculo */
    border: 3px solid #229abe; /* Borde más grueso de la imagen */
    transition: transform 0.3s ease-in-out; /* Transición suave al pasar el ratón */
}

.procedimiento-item img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

.procedimiento-item p {
    margin-top: 10px;
    font-weight: bold;
}


/* Estilos para el modal de contacto */

.modalContacto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContacto-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeContacto {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeContacto:hover,
.closeContacto:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Estilo general del modal */
.modalNutricion {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed; /* Posición fija en la ventana del navegador */
    z-index: 1; /* Z-index alto para que esté por encima del resto del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
   /*evitar que se mueva el contenido */
   position: fixed
  
  }
  
  /* Estilo del contenido del modal */
  .modalNutricion-content {
    background-color: #fefefe; /* Fondo blanco */
    margin: 15% auto; /* Margen superior e inferior, centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888; /* Borde gris */
    width: 80%; /* Ancho del contenido */
  }
  
  /* Estilo del botón de cierre del modal */
  .closeNutricion {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeNutricion:hover,
  .closeNutricion:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  /* Estilo para ocultar las opciones de animales por defecto */
  #animalOptions {
    display: none;
  }
  
  /* Estilo para los botones de animales */
  .animalButton {
    display: block; /* Mostrar los botones uno debajo del otro */
    width: 100%; /* Ancho completo */
    padding: 10px 0; /* Añadir espacio alrededor del texto del botón */
    background-color: #33a2e7; /* Color de fondo */
    color: white; /* Color de texto */
    font-size: 15px; /* Tamaño de la fuente */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    margin-bottom: 5px; /* Espacio entre los botones */
    transition: background-color 0.3s; /* Efecto de transición suave */
  }
  
  .animalButton:hover {
    background-color: #45a049; /* Color de fondo oscuro al pasar el ratón por encima */
  }
  
  .modalAnimales {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed; /* Posición fija en la ventana del navegador */
    z-index: 1; /* Z-index alto para que esté por encima del resto del contenido */
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
  }
  
  /* Estilo del contenido del modal */
  .modalAnimales-content {
    background-color: #fefefe; /* Fondo blanco */
    margin: 15% auto; /* Margen superior e inferior, centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888; /* Borde gris */
    width: 80%; /* Ancho del contenido */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estilo del botón de cierre del modal */
  .closeAnimales {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeAnimales:hover,
  .closeAnimales:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  /* Estilo del botón de cierre del modal */
  .closeInfo1 {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeInfo1:hover,
  .closeInfo1:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .closeInfo2 {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeInfo2:hover,
  .closeInfo2:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .closeInfo3 {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeInfo3:hover,
  .closeInfo3:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .closeInfo4 {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeInfo4:hover,
  .closeInfo4:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .closeInfo5 {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeInfo5:hover,
  .closeInfo5:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .closeInfo6 {
    color: #aaa; /* Color de texto gris */
    float: right; /* Alineación a la derecha */
    font-size: 28px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
  }
  
  .closeInfo6:hover,
  .closeInfo6:focus {
    color: black; /* Cambia el color del texto al pasar el ratón por encima o al enfocar */
    text-decoration: none; /* Quita el subrayado del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}
  
  




